* {
    width: 10%;
    height: 10vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
div {
    background-color: blueviolet;
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}
ul li a {
    color:rgb(26, 27, 25);
    text-decoration: none;
}
